h1{
    font-size : 80px;
    font-family : algerian;
    border-style : ridge;
    border-color  : darkgreen;
    border-width : 5px;
    Color : navy;
    Background-color : peachpuff;
    padding : 10px;
  }
  html {
    text-align : center;
    background-color : lightseagreen;
  }
  h2 {
    font-size : 50px;
      color : darkmagenta
  }
  img {
    border-color : black;
      border-style : solid;
      padding : 5px;
     border-radius : 70px;
    border-width : 5px;
    height : 400px;
    width : 400px;
  }
  #reason {
    color : navajowhite;
    background-color : green;
    font-size : 35px;
    font-family : sans-serif;
  }
  